<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cover %>
    <%= form.file_field :cover, class: 'input-field' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :publish_date %>
    <%= form.text_field :publish_date,
                    data: {
                          controller: 'datepicker',
                          },
                    class: 'input input-bordered' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
