<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='input-group mb-3'>
    <div class='input-group-prepend'>
      <%= form.label :title, class: 'input-group-text' %>
    </div>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class='input-group mb-3'>
    <div class='input-group-prepend'>
      <%= form.label :content, class: 'input-group-text' %>
    </div>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class='input-group mb-3'>
    <div class='input-group-prepend'>
      <%= form.label :publish_date, class: 'input-group-text' %>
    </div>
    <%= form.date_field :publish_date, value: Date.today, class: 'form-control' %>
  </div>

  <div class='input-group mb-3'>
    <div class='input-group-prepend'>
      <%= form.label :image, class: 'input-group-text' %>
    </div>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
