<%= form_with model: book, class: "max-w-3xl m-auto border flex justify-center flex-col items-center" do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field w-full py-2">
    <%= form.label :title, class: "w-1/2 m-auto block" %>
    <%= form.text_field :title, class: "border w-1/2 m-auto block" %>
  </div>

  <div class="field w-full py-2">
    <%= form.label :content, class: "w-1/2 m-auto block" %>
    <%= form.text_area :content , class: "border w-1/2 m-auto block"%>
  </div>

  <div class="field w-full py-2">
    <%= form.label :publish_date, class: "w-1/2 m-auto block" %>
    <%= form.text_field :publish_date, class: "datepicker border w-1/2 m-auto block", data:{controller: "date-picker"}%>
  </div>

  <div class="field w-full py-2">
    <%= form.label :image, class: "w-1/2 m-auto block" %>
    <%= form.file_field :image, class: "border w-1/2 m-auto block" %>
  </div>

  <div class="actions w-full py-2">
    <%= form.submit class: "block m-auto w-1/2 hover:bg-black hover:text-white" %>
  </div>
<% end %>




