<div id="notice"><%= notice %></div>

<div>
  <%= image_tag @book.image_url(:thumb), class: 'img-thumbnail' if @book.image_url.present? %>
</div>

<div class='m-2'>
  <strong>Title:</strong>
  <%= @book.title %>
</div>

<div class='m-2'>
  <strong>Content:</strong>
  <%= @book.content %>
</div>

<div class='m-2'>
  <strong>Publish date:</strong>
  <%= @book.publish_date %>
</div>

<div class='m-2'>
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-outline-secondary btn-sm' %> |
  <%= link_to 'Back', books_path, class: 'btn btn-outline-secondary btn-sm' %>
</div>